/*Zero style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

:root {
  --red-color: #f75f5e;
  --red-hover-color: #ff4848;
  --red-active-color: #ff3737;
  --second-background: #1f2233;
  --third-background: #25273e;
  --four-background: #2a2d47;
}

html,
body {
  background-color: #f2f2f2;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  color: #f2f2f2;
}

.navbar {
  font-weight: 800;
  font-size: 18px;
  padding: 1.5rem 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 100%);
}

.navbar .navbar-brand {
  font-size: 30px;
}

.navbar .navbar-brand > span {
  color: var(--red-color);
}

.navbar .btn {
  margin-left: .5rem;
  color: var(--red-color);
  border: 1px solid var(--red-color);
}

@media (max-width: 992px) {
  .navbar {
    font-size: 16px;
    padding: 1.3rem 0%;
  }
  .navbar .navbar-brand {
    font-size: 24px;
  }
  .navbar .navbar-brand > span {
    color: var(--red-color);
  }
  .btn {
    margin-left: .5rem;
    color: var(--red-color);
    border: 1px solid var(--red-color);
  }
}

.left-marker {
  position: absolute;
  left: 10px;
  bottom: 80px;
  display: inherit;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.left-marker::before {
  content: '';
  display: block;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  margin-right: 10px;
}

.container-marker {
  position: absolute;
  right: 0;
  top: 130px;
  display: inherit;
  font-size: 38px;
  color: #8c9194;
  font-weight: 700;
}

.container-marker::after {
  content: '';
  display: block;
  width: 35px;
  height: 3px;
  background-color: var(--red-color);
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
  margin-left: 5px;
}

.content-container {
  max-width: 100%;
  height: 100vh;
  min-height: 700px;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}

.main-background {
  background: url("../assets/img/fp-img.jpg") 0 0/cover no-repeat;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
  z-index: 0;
  position: fixed;
}

.hideAll {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #000000;
  z-index: 99;
  /* Higher than anything else in the document */
}

.main-page {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .main-content__photo {
  background: url("../assets/img/myPhoto.jpg") 0 0/cover no-repeat;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.main-page .main-content__name {
  color: var(--red-color);
  font-weight: 600;
  font-size: 50px;
  width: 100%;
}

.main-page .main-content__position {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 767px) {
  .main-page .main-content__name {
    font-size: 36px;
  }
  .main-page .main-content__position {
    font-size: 18px;
  }
}

.second-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  background: var(--second-background);
  padding: 1rem;
}

.second-page .about-content {
  width: 1000px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.second-page .about-content .element-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.second-page .about-content__photo {
  width: 35%;
  height: 100%;
  background: url("../assets/img/myPhoto.jpg") 50% 0/cover no-repeat;
  opacity: 0;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.second-page .about-content__text {
  width: 65%;
  height: 100%;
  padding-left: 1.8rem;
  opacity: 0;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.second-page .about-content__text > span {
  color: var(--red-color);
  font-size: 22px;
  font-weight: 500;
}

.second-page .about-content__text > h3 {
  font-size: 28px;
  font-weight: 500;
}

.second-page .about-content__text > h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 1.5px;
  background: var(--red-color);
  margin: .5rem 0 2rem 0;
}

.second-page .about-content__text > p {
  color: #cacaca;
  max-width: 100%;
}

.second-page .about-content__about {
  border: 1px solid var(--red-color);
  border-radius: .25rem;
  width: 100%;
  height: 120px;
  margin: 2rem 0;
  padding: 1rem 1rem 1.2rem;
  overflow: hidden;
}

.second-page .about-content__about table {
  width: 100%;
}

.second-page .about-content__about tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
  max-height: 100px;
}

.second-page .about-content__about tbody tr {
  display: block;
  margin-bottom: 1rem;
}

.second-page .about-content__btn-download {
  padding: 7px 20px 9px;
  background: var(--red-color);
  color: white;
  border-radius: .25rem;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.second-page .about-content__btn-download:hover {
  background-color: var(--red-hover-color);
}

.second-page .about-content__btn-download:active {
  background-color: var(--red-active-color);
  -webkit-box-shadow: 0px -1px 4px 4px rgba(255, 98, 98, 0.555);
          box-shadow: 0px -1px 4px 4px rgba(255, 98, 98, 0.555);
}

@media (max-width: 992px) {
  .second-page .about-content {
    height: 350px;
  }
  .second-page .about-content table {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .second-page .about-content {
    height: 250px;
  }
  .second-page .about-content__text {
    width: 65%;
    height: 100%;
    padding-left: 1rem;
  }
  .second-page .about-content__text > span {
    font-size: 18px;
  }
  .second-page .about-content__text > h3 {
    font-size: 24px;
  }
  .second-page .about-content__text > h3::after {
    margin: .2rem 0 1rem 0;
  }
  .second-page .about-content__text > p {
    font-size: 12px;
  }
  .second-page .about-content__about {
    max-width: 85%;
    height: 168px;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem 0.6rem;
  }
  .second-page .about-content__about table {
    font-size: 12px;
  }
  .second-page .about-content__about tbody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .second-page .about-content__btn-download {
    padding: 6px 18px 8px;
  }
}

@media (max-width: 480px) {
  .second-page {
    padding: .2rem;
  }
  .second-page .about-content {
    height: 200px;
  }
  .second-page .about-content__text {
    padding-left: .5rem;
  }
  .second-page .about-content__text > span {
    font-size: 14px;
  }
  .second-page .about-content__text > h3 {
    font-size: 20px;
  }
  .second-page .about-content__text > h3::after {
    margin: .2rem 0 1rem 0;
  }
  .second-page .about-content__text > p {
    font-size: 9px;
  }
  .second-page .about-content__about {
    height: 155px;
    margin: .5rem 0;
  }
  .second-page .about-content__about table {
    font-size: 9px;
  }
  .second-page .about-content__btn-download {
    padding: 5px 16px 7px;
    font-size: 12px;
  }
}

.third-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--third-background);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

.third-page__title {
  position: absolute;
  top: 100px;
  left: 150px;
}

.third-page__title > span {
  color: var(--red-color);
  font-size: 22px;
  font-weight: 500;
}

.third-page__title > h4 {
  font-size: 28px;
  font-weight: 500;
}

.third-page__title > h4::after {
  content: '';
  display: block;
  width: 50px;
  height: 1.5px;
  background: var(--red-color);
  margin: .5rem 0 2rem 0;
}

.third-page .carousel {
  width: 100%;
  height: 650px;
  opacity: 0;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.third-page .carousel .carousel-inner {
  width: 100%;
  height: 100%;
}

.third-page .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}

.third-page .carousel .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.third-page .carousel .container #your-store {
  background: url("../assets/img/mySites/yourStore.png") 50%/cover no-repeat;
}

.third-page .carousel .container #card-game {
  background: url("../assets/img/mySites/cardGame.png") 50%/cover no-repeat;
}

.third-page .carousel .container__photo {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  height: 17vw;
  width: 32vw;
  margin: 1rem;
  border-radius: .25rem;
  border: 2px solid var(--red-color);
}

.third-page .carousel .container__info {
  margin: 1rem;
  max-width: 350px;
}

.third-page .carousel .container__info > span {
  color: var(--red-color);
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 2rem;
}

.third-page .carousel .container__info > p {
  color: #ffffff;
}

.third-page .carousel .container__info > a {
  padding: 7px 20px 9px;
  background: var(--red-color);
  color: #ffffff;
  border-radius: .25rem;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  margin-top: 2rem;
  display: inline-block;
}

.third-page .carousel .container__info > a:hover {
  background-color: var(--red-hover-color);
}

.third-page .carousel .container__info > a:active {
  background-color: var(--red-active-color);
  -webkit-box-shadow: 0px -1px 4px 4px rgba(255, 98, 98, 0.555);
          box-shadow: 0px -1px 4px 4px rgba(255, 98, 98, 0.555);
}

.third-page .element-show {
  opacity: 1;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 992px) {
  .third-page__title {
    top: 80px;
    left: 70px;
  }
  .third-page .carousel .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third-page .carousel .container #your-store {
    background: url("../assets/img/mySites/yourStore.png") 50%/cover no-repeat;
  }
  .third-page .carousel .container #card-game {
    background: url("../assets/img/mySites/cardGame.png") 50%/cover no-repeat;
  }
  .third-page .carousel .container__photo {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    width: 440px;
    height: 240px;
    margin: 1rem;
    border-radius: .25rem;
    border: 2px solid var(--red-color);
  }
  .third-page .carousel .container__info {
    margin: 1rem;
    max-width: 350px;
  }
  .third-page .carousel .container__info > span {
    color: var(--red-color);
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0;
  }
  .third-page .carousel .container__info > p {
    color: #ffffff;
  }
  .third-page .carousel .container__info > a {
    padding: 7px 20px 9px;
    background: var(--red-color);
    color: #ffffff;
    border-radius: .25rem;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    margin-top: 0;
    display: inline-block;
  }
}

.four-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--four-background);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.four-page__title {
  position: absolute;
  top: 100px;
  left: 150px;
}

.four-page__title > span {
  color: var(--red-color);
  font-size: 22px;
  font-weight: 500;
}

.four-page__title > h4 {
  font-size: 28px;
  font-weight: 500;
}

.four-page__title > h4::after {
  content: '';
  display: block;
  width: 50px;
  height: 1.5px;
  background: var(--red-color);
  margin: .5rem 0 2rem 0;
}

.four-page .container .row .col {
  height: 100px;
  border: 2px solid var(--red-color);
}

.footer {
  position: relative;
  background: var(--four-background);
  z-index: 1;
}

.active {
  color: var(--red-color) !important;
}

.zoom-img {
  -webkit-transform: scale(1.6) translateX(20%);
          transform: scale(1.6) translateX(20%);
}
/*# sourceMappingURL=style.css.map */