/*Zero style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none
}


:root {
  --red-color: #f75f5e;
  --red-hover-color: #ff4848;
  --red-active-color: #ff3737;
  --second-background: #1f2233;
  --third-background: #25273e;
  --four-background: #2a2d47;
  --border-color: #8c919454;
}


html,
body {
  background-color: #f2f2f2;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  color: #f2f2f2;
}



.navbar {
  font-weight: 800;
  font-size: 18px;
  padding: 1.5rem 5%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);

  .navbar-brand {
    font-size: 30px;

    &>span {
      color: var(--red-color);
    }
  }

  .btn {
    margin-left: .5rem;
    color: var(--red-color);
    border: 1px solid var(--red-color)
  }

}

@media(max-width:992px) {
  .navbar {
    font-size: 16px;
    padding: 1.3rem 0%;

    .navbar-brand {
      font-size: 24px;

      &>span {
        color: var(--red-color);
      }
    }
  }

  .btn {
    margin-left: .5rem;
    color: var(--red-color);
    border: 1px solid var(--red-color)
  }
}

.left-marker {
  position: absolute;
  left: 10px;
  bottom: 80px;
  display: inherit;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;

  &::before {
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    background-color: #ffffff;
    transform: translateY(9px);
    margin-right: 10px;
  }
}



.container-marker {
  position: absolute;
  right: 0;
  top: 130px;
  display: inherit;
  font-size: 38px;
  color: #8c9194;
  font-weight: 700;

  &::after {
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--red-color);
    transform: translateY(18px);
    margin-left: 5px;
  }
}

.content-container {
  max-width: 100%;
  height: 100vh;
  min-height: 700px;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}

.main-background {
  background: url('../assets/img/fp-img.jpg') 0 0/cover no-repeat;
  width: 100%;
  height: 100%;
  filter: brightness(20%);
  z-index: 0;
  position: fixed;
}

.hideAll {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #000000;
  z-index: 99;
  /* Higher than anything else in the document */

}

.main-page {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;



  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;


    &__photo {
      background: url('../assets/img/myPhoto.jpg') 0 0/cover no-repeat;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }

    &__name {
      color: var(--red-color);
      font-weight: 600;
      font-size: 50px;
      width: 100%;
    }

    &__position {
      color: #fff;
      font-size: 20px;
    }
  }
}

@media(max-width:767px) {
  .main-page {
    .main-content {


      &__name {
        font-size: 36px;
      }

      &__position {
        font-size: 18px;
      }
    }
  }

}

.second-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: var(--second-background);
  padding: 1rem;

  .about-content {
    width: 1000px;
    height: 400px;
    display: flex;
    flex-direction: row;

    .element-show {
      opacity: 1;
      transition: all 1.5s;
      transform: translate(0);
    }

    &__photo {
      //border: 1px solid var(--red-color);
      width: 35%;
      height: 100%;
      background: url('../assets/img/myPhoto.jpg') 50% 0/cover no-repeat;
      opacity: 0;
      transform: translateX(-30%);
    }

    &__text {
      width: 65%;
      height: 100%;
      padding-left: 1.8rem;
      opacity: 0;
      transform: translateX(30%);

      &>span {
        color: var(--red-color);
        font-size: 22px;
        font-weight: 500;
      }

      &>h3 {
        font-size: 28px;
        font-weight: 500;

        &::after {
          content: '';
          display: block;
          width: 50px;
          height: 1.5px;
          background: var(--red-color);
          margin: .5rem 0 2rem 0;

        }
      }

      &>p {
        color: rgb(202, 202, 202);
        max-width: 100%;
      }

    }

    &__about {
      border: 1px solid var(--red-color);
      border-radius: .25rem;
      width: 100%;
      height: 120px;
      margin: 2rem 0;
      padding: 1rem 1rem 1.2rem;
      overflow: hidden;

      table {
        width: 100%;
      }

      tbody {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-content: stretch;
        width: 100%;
        max-height: 100px;

        tr {
          display: block;
          margin-bottom: 1rem;

        }
      }
    }

    &__btn-download {
      padding: 7px 20px 9px;
      background: var(--red-color);
      color: white;
      border-radius: .25rem;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: var(--red-hover-color);
      }

      &:active {
        background-color: var(--red-active-color);
        box-shadow: 0px -1px 4px 4px rgba(255, 98, 98, 0.555);
      }

    }
  }
}

@media(max-width:992px) {
  .second-page {
    .about-content {

      height: 350px;

      table {
        font-size: 14px;
      }

    }
  }
}

@media(max-width:767px) {
  .second-page {
    .about-content {
      height: 250px;

      &__text {
        width: 65%;
        height: 100%;
        padding-left: 1rem;

        &>span {
          font-size: 18px;
        }

        &>h3 {
          font-size: 24px;

          &::after {
            margin: .2rem 0 1rem 0;
          }
        }

        &>p {
          font-size: 12px;
        }

      }

      &__about {
        max-width: 85%;
        height: 168px;
        margin: 1rem 0;
        padding: 0.5rem 0.5rem 0.6rem;

        table {
          font-size: 12px;
        }

        tbody {
          flex-direction: column;
          flex-wrap: nowrap;
        }
      }

      &__btn-download {
        padding: 6px 18px 8px;
      }
    }
  }
}

@media(max-width:480px) {
  .second-page {
    padding: .2rem;

    .about-content {
      height: 200px;

      &__text {
        padding-left: .5rem;

        &>span {
          font-size: 14px;
        }

        &>h3 {
          font-size: 20px;

          &::after {
            margin: .2rem 0 1rem 0;
          }
        }

        &>p {
          font-size: 9px;
        }

      }

      &__about {
        height: 155px;
        margin: .5rem 0;

        table {
          font-size: 9px;
        }

      }

      &__btn-download {
        padding: 5px 16px 7px;
        font-size: 12px;
      }
    }
  }
}




.third-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--third-background);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;

  &__title {
    position: absolute;
    top: 100px;
    left: 150px;

    &>span {
      color: var(--red-color);
      font-size: 22px;
      font-weight: 500;
    }

    &>h4 {
      font-size: 28px;
      font-weight: 500;

      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 1.5px;
        background: var(--red-color);
        margin: .5rem 0 2rem 0;

      }
    }
  }

  .carousel {
    width: 100%;
    height: 650px;
    opacity: 0;
    transform: translateY(15%);

    .carousel-inner {
      width: 100%;
      height: 100%;

      .carousel-item {
        width: 100%;
        height: 100%;
      }
    }

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;

      #your-store {
        background: url('../assets/img/mySites/yourStore.png') 50%/cover no-repeat;
      }

      #card-game {
        background: url('../assets/img/mySites/cardGame.png') 50%/cover no-repeat;
      }

      &__photo {
        transition: all 500ms;
        width: 32vw;
        height: 17vw;
        margin: 1rem;
        border-radius: .25rem;
        border: 2px solid var(--red-color);

      }

      &__info {
        margin: 1rem;
        max-width: 350px;


        &>span {
          color: var(--red-color);
          font-size: 30px;
          font-weight: 500;
          display: inline-block;
          margin-bottom: 2rem;
        }

        &>p {
          color: #ffffff;
        }

        &>a {
          padding: 7px 20px 9px;
          background: var(--red-color);
          color: #ffffff;
          border-radius: .25rem;
          cursor: pointer;
          transition: background-color 200ms ease-in-out;
          margin-top: 2rem;
          display: inline-block;

          &:hover {
            background-color: var(--red-hover-color);
          }

          &:active {
            background-color: var(--red-active-color);
            box-shadow: 0px -1px 4px 4px rgba(255, 98, 98, 0.555);
          }
        }

      }


    }
  }

  .element-show {
    opacity: 1;
    transition: all 1.3s;
    transform: translateY(0);
  }
}

.zoom-img {
  transform: scale(1.6) translateX(20%);
}

@media(max-width:992px) {
  .zoom-img {
    transform: none;
  }

  .third-page {
    &__title {
      top: 80px;
      left: 50px;
    }

    .carousel {
      .container {
        flex-direction: column;

        &__photo {
          width: 50vw;
          height: 28vw;
        }

        &__info {

          text-align: center;

          &>span {
            color: var(--red-color);
            font-size: 28px;
            margin-bottom: .5rem;
          }

          &>p {
            font-size: 14px;
          }

          &>a {
            margin-top: .5rem;
          }
        }
      }
    }
  }
}

@media(max-width:767px) {}

@media(max-width:480px) {
  .third-page {
    &__title {
      &>span {

        font-size: 16px;
      }

      &>h4 {

        font-size: 18px;
      }

      top: 80px;
      left: 70px;
    }

    .carousel {
      .container {


        &__photo {
          width: 75vw;
          height: 40vw;
        }
      }
    }
  }
}


.four-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--four-background);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;


  &__title {
    position: absolute;
    top: 100px;
    left: 150px;

    &>span {
      color: var(--red-color);
      font-size: 22px;
      font-weight: 500;
    }

    &>h5 {
      font-size: 28px;
      font-weight: 500;

      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 1.5px;
        background: var(--red-color);
        margin: .5rem 0 2rem 0;
      }
    }
  }

  .container {
    padding-top: 8rem;
    max-width: 100%;
    margin: auto 0;

    .row {
      background-color: var(--second-background);

      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all .3s ease-in-out;

        a {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }

    .first-cols {
      .col {
        border-top: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
        height: 100px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.096);
        }

        &>p {
          color: var(--red-color);
          font-size: 18px;
          font-weight: 400;

          &>span {
            color: #ffffff;
            text-align: start;
            display: block;
            font-size: 36px;
            font-weight: 600;
            letter-spacing: -1px;
          }
        }
      }
    }

    .second-cols {
      .col {
        height: 300px;
      }
    }

    &__phone-number {
      border-right: 2px solid var(--border-color);
    }

    &__git-hub {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--photo {
        background: url('../assets/img/github.png') 50%/cover no-repeat;
        width: 180px;
        height: 180px;
        margin-bottom: 1rem;
      }

      &>p {
        font-size: 24px;
        font-weight: 500;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.096);
      }
    }

    &__massager {
      border-left: 2px solid var(--border-color);
      border-right: 2px solid var(--border-color);

      &--photo {
        background: url('../assets/img/massager.png') 50%/cover no-repeat;
        width: 120px;
        height: 120px;
        filter: invert(1);
        margin-bottom: 1rem;

      }

      &>p {
        font-size: 30px;
        font-weight: 600;
        max-width: 190px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.096);
      }
    }

    &__networks-links {
      padding: 0 5rem 4rem 0;

      &>p {
        font-size: 22px;
        font-weight: 500;
        color: var(--red-color);
      }
    }

    &__link {
      width: 140px;
      margin-top: .7rem;
      display: flex;
      align-items: center;
      position: relative;

      &>span {
        font-size: 18px;
        font-weight: 500;
      }

      #facebook-link {
        background: url('../assets/img/facebook.png') 50%/cover no-repeat;
      }

      #instagram-link {
        background: url('../assets/img/instagram.png') 50%/cover no-repeat;
      }

      #linkedIn-link {
        background: url('../assets/img/linkedIn.png') 100%/cover no-repeat;
      }

      &--ico {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: .6rem;
        filter: invert(1);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.096);
      }
    }
  }
}

@media(max-width:767px) {
  .four-page {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--four-background);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;


    &__title {
      position: absolute;
      top: 100px;
      left: 150px;

      &>span {
        color: var(--red-color);
        font-size: 22px;
        font-weight: 500;
      }

      &>h5 {
        font-size: 28px;
        font-weight: 500;

        &::after {
          content: '';
          display: block;
          width: 50px;
          height: 1.5px;
          background: var(--red-color);
          margin: .5rem 0 2rem 0;
        }
      }
    }

    .container {
      padding-top: 8rem;
      max-width: 100%;
      margin: auto 0;

      .row {
        background-color: var(--second-background);

        .col {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          transition: all .3s ease-in-out;

          a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }
      }

      .first-cols {
        .col {
          border-top: 2px solid var(--border-color);
          border-bottom: 2px solid var(--border-color);
          height: 100px;

          &:hover {
            background-color: rgba(255, 255, 255, 0.096);
          }

          &>p {
            color: var(--red-color);
            font-size: 18px;
            font-weight: 400;

            &>span {
              color: #ffffff;
              text-align: start;
              display: block;
              font-size: 36px;
              font-weight: 600;
              letter-spacing: -1px;
            }
          }
        }
      }

      .second-cols {
        .col {
          height: 300px;
        }
      }

      &__phone-number {
        border-right: 2px solid var(--border-color);
      }

      &__git-hub {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--photo {
          width: 180px;
          height: 180px;
          margin-bottom: 1rem;
        }

        &>p {
          font-size: 24px;
          font-weight: 500;
        }

      }

      &__massager {
        border-left: 2px solid var(--border-color);
        border-right: 2px solid var(--border-color);

        &--photo {
          width: 120px;
          height: 120px;
      
          margin-bottom: 1rem;

        }

        &>p {
          font-size: 30px;
          font-weight: 600;
          max-width: 190px;
        }

      }

      &__networks-links {
        padding: 0 5rem 4rem 0;

        &>p {
          font-size: 22px;
          font-weight: 500;
          color: var(--red-color);
        }
      }

      &__link {
        width: 140px;
        margin-top: .7rem;
        display: flex;
        align-items: center;
        position: relative;

        &>span {
          font-size: 18px;
          font-weight: 500;
        }

        &--ico {
          width: 30px;
          height: 30px;
          margin-right: .6rem;
          
        }
      }
    }
  }
}

@media(max-width:480px) {}



.footer {
  position: relative;
  // width: 100%;
  // height: 100%;
  background: var(--four-background);
  z-index: 1;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}





.active {
  color: var(--red-color) !important;
}